<ion-header [translucent]="true">
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="/" color="primary">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="iniciar_div">

        <h1>Bienvenido USUARIO</h1>

        <ion-list class="profile-info">
            <ion-item>


                <ion-icon slot="end" name="person-outline"></ion-icon>

                <ion-label>
                    <h2>Usuario</h2>
                </ion-label>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
                <ion-label>
                    <h1>Mi Cuenta</h1>
                </ion-label>
            </ion-item>
            <ion-item routerLink="/home">
                <ion-label>Datos Personales</ion-label>
            </ion-item>
            <ion-item routerLink="/home">
                <ion-label>Métodos de Pago</ion-label>
            </ion-item>
            <ion-item routerLink="/home">
                <ion-label>Direcciones</ion-label>
            </ion-item>
            <ion-item routerLink="/home">
                <ion-label>Pedidos</ion-label>
            </ion-item>
        </ion-list>

        <ion-list>
            <ion-item>
                <ion-label>
                    <h1>Informacion</h1>
                </ion-label>
            </ion-item>

            <ion-item routerLink="/home">
                <ion-label>Conoce más de nosotros</ion-label>
            </ion-item>
            <ion-item routerLink="/home">
                <ion-label>Terminos y Condiciones</ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>



<ion-footer class="mobile-footer">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/home">
                <ion-icon name="home-outline"></ion-icon>

            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-button routerLink="/promociones">
                <ion-icon name="pricetag-outline"></ion-icon>

            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-button routerLink="/productos">
                <ion-icon name="search-outline"></ion-icon>

            </ion-button>
        </ion-buttons>

        <ion-buttons slot="start">
            <ion-button routerLink="/soporte">
                <ion-icon name="help-circle-outline"></ion-icon>

            </ion-button>
        </ion-buttons>

        <ion-buttons slot="start">
            <ion-button routerLink="/perfil-usuario">
                <ion-icon name="person-outline"></ion-icon>
            </ion-button>
        </ion-buttons>



    </ion-toolbar>
</ion-footer>