<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">elegirUsuario</ion-title>
        </ion-toolbar>
    </ion-header>








    <div class="formulario">
        <h1>¿Qué tipo de Usuario deseas ser?</h1>
        <div class="form-container">
            <ion-card class="form-item">
                <img src="https://static.vecteezy.com/system/resources/previews/002/104/171/non_2x/account-neon-icon-for-website-and-ui-material-illustration-vector.jpg" alt="Cliente">
                <ion-card-content>
                    <ion-card-title>Cliente</ion-card-title>
                    <ion-button class="boton" routerLink="/registrar-usuario">Registrarme</ion-button>
                </ion-card-content>
            </ion-card>
            <ion-card class="form-item">
                <img src="https://static.vecteezy.com/system/resources/previews/007/533/762/non_2x/glowing-neon-sport-motorcycle-sign-vector.jpg" alt="Repartidor">
                <ion-card-content>
                    <ion-card-title>Repartidor</ion-card-title>
                    <ion-button class="boton" routerLink="/registrar-repartidor">Registrarme</ion-button>
                </ion-card-content>
            </ion-card>
            <ion-card class="form-item">
                <img src="https://m.media-amazon.com/images/I/71zrv8OImuL._AC_SL1500_.jpg" alt="Registra Tu Local">
                <ion-card-content>
                    <ion-card-title>Hazte Socio</ion-card-title>
                    <ion-button class="boton" routerLink="/registrar-local">Registrarme</ion-button>
                </ion-card-content>
            </ion-card>
        </div>
    </div>

















</ion-content>