ion-content {
    --background: url("https://wallpapers.com/images/featured/pub-sg3h2yg86plufux1.jpg");
    --background-size: cover;
    /* Ajusta el tamaño de la imagen para que se ajuste al contenedor */
    --background-position: center;
    --padding-start: 10%;
    --padding-top: 5%;
    --padding-end: 10%;
    --display: grid;
    --justify-content: center;
    --align-content: center;
    --align-items: center;
    .iniciar_div {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        border-radius: 10px;
        border: 3px solid #00b8ff;
    }
    ion-button {
        --background: #711c91;
    }
    ion-item {
        --background: none;
    }
    h3 {
        padding-top: 10%;
        color: white;
    }
    h1 {
        color: white;
    }
    .user_Name {
        display: flex;
        justify-content: center;
        color: white;
    }
    .espacio_superior {
        padding-top: 3%;
    }
}


/* Footer general que está oculto por defecto */

ion-footer {
    display: none;
}


/* Mostrar el footer solo en dispositivos móviles */

@media (max-width: 767px) {
    ion-footer {
        display: block;
    }
}

.mobile-footer ion-toolbar {
    --background: rgba(0, 0, 0, 0.8);
    border-top: 1px solid #00b8ff;
    display: flex;
    justify-content: space-between;
    /* Distribuir elementos horizontalmente */
    align-items: center;
    /* Centrar elementos verticalmente */
    width: 100%;
    /* Ancho del footer al 100% */
    padding: 0 10%;
    /* Espaciado horizontal */
}

.mobile-footer ion-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.mobile-footer ion-button {
    --background: transparent;
    --color: #00b8ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.mobile-footer ion-icon {
    font-size: 1.5rem;
    margin-bottom: 4px;
}