ion-content {
    --background: url("https://wallpapers.com/images/featured/pub-sg3h2yg86plufux1.jpg");
    --background-size: cover;
    --background-position: center;
    --padding-start: 10%;
    --padding-top: 5%;
    --padding-end: 10%;
    --display: grid;
    --justify-content: center;
    --align-content: center;
    --align-items: center;
}