<ion-content [fullscreen]="true ">














    <ion-header [translucent]="true">
        <ion-toolbar>
            <ion-title>ClandestinApp</ion-title>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button routerLink="/perfil-usuario">
                    <ion-icon name="cart"></ion-icon>
                </ion-button>
            </ion-buttons>

        </ion-toolbar>
    </ion-header>

    <ion-menu side="start" menuId="first" contentId="main-content">
        <ion-header>
            <ion-toolbar>
                <ion-title>Usuario</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content id="menu">
            <ion-list>
                <ion-item routerLink="/login">Iniciar Sesion</ion-item>
                <ion-item routerLink="/perfil-usuario">Usuario</ion-item>
                <ion-item routerLink="/productos">Productos</ion-item>
                <ion-item routerLink="/elegir-usuario">Registrarme</ion-item>
                <ion-item routerLink="/home-local">Local Home</ion-item>
            </ion-list>
        </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>






    <ion-card class="promo-card">
        <ion-img src="https://www.marinadelsol.cl/chi/imagen/id/7548.jpg" class="promo-image"></ion-img>
        <ion-card-content>
            <ion-card-title>Fin de Semana</ion-card-title>
            <ion-card-subtitle>¡Llevate todo con un 40% de descuento!</ion-card-subtitle>
        </ion-card-content>
    </ion-card>


















    <ion-list class="iniciar_div">
        <ion-item *ngFor="let p of productos" [routerLink]="['/productos', p.id]">

            <ion-avatar>
                <ion-img src="{{p.imagen}}"></ion-img>
            </ion-avatar>
            <ion-label>{{p.nombre}}</ion-label>


        </ion-item>
    </ion-list>



    <ion-grid>
        <ion-row>
            <ion-col size="6" size-sm="3" size-md="3" size-lg="3">
                <ion-card class="categoria-card" routerLink="/productos">
                    <ion-card-header>
                        Categorías
                    </ion-card-header>
                    <!-- Contenido de la tarjeta para Categorías -->
                </ion-card>
            </ion-col>
            <ion-col size="6" size-sm="3" size-md="3" size-lg="3">
                <ion-card class="express-card">
                    <ion-card-header>
                        Express
                    </ion-card-header>
                    <!-- Contenido de la tarjeta para Express -->
                </ion-card>
            </ion-col>
            <ion-col size="6" size-sm="3" size-md="3" size-lg="3">
                <ion-card class="licores-card">
                    <ion-card-header>
                        Locales
                    </ion-card-header>
                    <!-- Contenido de la tarjeta para Licores -->
                </ion-card>
            </ion-col>
            <ion-col size="6" size-sm="3" size-md="3" size-lg="3">
                <ion-card class="ver-mas-card">
                    <ion-card-header>
                        Ver más
                    </ion-card-header>
                    <!-- Contenido de la tarjeta para Ver más -->
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>






















    <ion-grid>
        <ng-container *ngFor="let p of productos; let i = index">
            <!-- Abre una nueva fila al inicio de cada grupo de 4 productos  y creamos el link para detalle-->
            <ion-row *ngIf="i % 4 === 0">
                <!-- Itera sobre hasta 4 productos en cada fila -->
                <ng-container *ngFor="let producto of productos.slice(i, i + 4)">
                    <!-- Columna para un producto -->
                    <ion-col size-xs="12" size-md="6" size-lg="3" size-xl="3" *ngIf="producto">
                        <ion-card [routerLink]="['/productos', producto.id]" class="ion-padding">
                            <!-- Imagen del producto -->
                            <ion-img [src]="producto.imagen"></ion-img>
                            <!-- Nombre del producto -->
                            <ion-card-header>
                                <ion-card-title>{{ producto.nombre }}</ion-card-title>
                            </ion-card-header>
                            <!-- Precio del producto -->
                            <ion-card-content>
                                <p>Precio: $ {{ producto.precio }}</p>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ng-container>
                <!-- Completa la fila con columnas vacías si hay menos de 4 productos en el último grupo -->
                <ng-container *ngFor="let _ of [0, 1, 2, 3].slice(productos.length - i)">
                    <ion-col size="12" size-md="6" size-lg="3" size-xl="3"></ion-col>
                </ng-container>
            </ion-row>
        </ng-container>
    </ion-grid>



</ion-content>



<ion-footer class="mobile-footer">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/home">
                <ion-icon name="home-outline"></ion-icon>

            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-button routerLink="/promociones">
                <ion-icon name="pricetag-outline"></ion-icon>

            </ion-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-button routerLink="/productos">
                <ion-icon name="search-outline"></ion-icon>

            </ion-button>
        </ion-buttons>

        <ion-buttons slot="start">
            <ion-button routerLink="/soporte">
                <ion-icon name="help-circle-outline"></ion-icon>

            </ion-button>
        </ion-buttons>

        <ion-buttons slot="start">
            <ion-button routerLink="/perfil-usuario">
                <ion-icon name="person-outline"></ion-icon>
            </ion-button>
        </ion-buttons>



    </ion-toolbar>
</ion-footer>